*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    height: 20vh;
    width: 100%;
    background-color: tan;
    display: flex;
   

   

   
    
}

ul{
    order: 1;
}

button {
    order: 2;
}

h1{
    order: 3;
}

p{
    order: 4;
}