* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 6rem;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
  

    

}



main {
    height: auto;
    width: 100%;
    background-color: blue;
    margin-top: 6rem;
}

footer {
    height: 10rem;
    width: 100%;
    background-color: #23201e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}
footer ul{
    gap: 2rem;
    display: flex;
    list-style: none;
}


nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-weight: bolder;
    font-size: smaller;


}


nav ul a {
    text-decoration: none;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif; font-weight: 600;
    font-size: 0.8rem;

    /* padding-right: 5rem; */

}

header button {
    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: small;

}

header button a {
    color: #333333;
    text-decoration: none;
    background-color: white;
    font-size: 0.8rem;
    font-weight: 600;

}

header h1 a {

    height: 10rem;
    width: 8rem;
   
}



#hero {
    background-image: url(../home-slide-4-1920x800.jpeg);

    background-position: top;
    background-size: 1920px 810px;
    height: 110vh;
    width: 100%;
   
    

   


    

}

#hero:hover{
    border-radius: 50px;
}
#ABOUT-US{
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 4rem 3rem;
    
  

}
#ABOUT-US img{
    height: 15rem;
    width: 22rem;
   
    
    
}
#Biscuit-image{
    display: flex;
    justify-content: space-around;
    background-color:#f2f3f8;
    height: 60rem;
    width: 100%;
    align-items: center;
    position: relative;
    justify-content: center;

}
#Biscuit-image h1{
    position: absolute;
    top: 0rem;
    color: #2b2c2f;
    font-family:cursive ;
    padding-top: 4rem;
    font-size: 3rem;
    font-weight: lighter;
    
}
#Biscuit-image p{
    position: absolute;
    top: 5rem;
    color: #2b2c2f;
    font-family: helvetica ;
    font-weight: bold;
    padding-top: 5rem;
    justify-content: center;
}

#Biscuit-image img{
    height: 15rem;
    width: 20rem;

}
#Distributor{
    height: 40rem;
    width: 100%;
    background-image:url(../home-slide-1-1920x800.jpeg);
    background-color: white;
   

}
#Distributor img{
    height: 80%;
    width: 100%;
    background-size:130% 120% ;
    

}
#ABOUT-US:hover{
  
    /* background-color:aqua; */
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  

}
#ABOUT-US div:hover{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    height:18rem ;
    width: 24rem;
    transition-duration: 2s;
}
#index-1{
    background-image:url(../index-01-566x401.jpeg);
    height: 16rem;
    width: 22rem;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    color: #ffffff;
    font-family: cursive;
    
}
#index-2{
    background-image: url(../index-02-566x401.jpeg);
    height: 16rem;
    width: 22rem;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    color: #ffffff;
    font-family: cursive;
}
#index-3{
    background-image: url(../index-03-566x401.jpeg);
    height: 17rem;
    width: 23rem;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    color: #ffffff;
    font-family: cursive;


}
#ABOUT-US div h1{
    font-size: 3rem;
    font-weight: lighter;

}
#slick-center{
    background-image:url(../slick-center-bg.png);
    height: 30rem;
    width: 30rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
}
#arrow{
    height: 3rem;
    width: 3rem;
    background-color:
    border-radius:2rem;
    position: absolute;
    left: -20px;
    top: 17rem;
}
#arrow-2{
    height: 3rem;
    width: 3rem;
    background-color:whitesmoke;
    border-radius: 2rem;
    position: absolute;
    right: -20px;
    top: 17rem;
    border-color: #f2f3f8;
}
#arrow-2 img{
    height:2rem ;
    width: 2rem;
}
#arrow img{
    height: 2rem;
    width: 2rem;
}
#slick-center h2{
    position: absolute;
    top: 20rem;
}
#slick-center h3{
    position: absolute;
    top: 26rem;
}
#Distributor h1{
    color: white;
    position: absolute;
    top: 10rem;
    font-family: cursive;
    font-weight: lighter;
    font-style: italic;
}

#Distributor{
    position: relative;
    display: flex;
    flex-direction:column ;
    align-items: center;

}
#Distributor h2{
    color: white;
    position: absolute;
    top: 12rem;
    font-family: cursive;
    font-style: italic;
    font-size: 4rem;
    font-weight: lighter;
}
#Distributor h3{
    color: white;
    position: absolute;
    top: 16rem;
    font-size: 5rem;
    font-family: cursive;
    color: #f9b129;
}
#button{
    height: 3.5rem;
    width: 14rem;
    background-color: #ec5353;
    border-radius: 4rem;
    position: absolute;
    top: 23rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;   
}
#choose_us{
    height: 40rem;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction:column ;
    align-items: center;
    color: #2b2c2f;
    padding-top: 8rem;
}
#choose_us h1{
    font-family: cursive;
    font-size: 3rem;
    font-weight: normal;
}
#choose_us p{
    font-family: helvetica;
    font-weight: bold;
}



#biscuit-display{
    height: 22rem;
    width: 100%;
    background-color: #ffffff;
    display:flex;


}
#biscuit-display img{
    height: 22rem;
    width: 24.7vw;
}
#footer div{
    height: 20rem;
    width: 50%;
    background-color:red;

}
#info{
    padding-right: 10rem;
}
